:root {
    font-family: Tahoma, Verdana, Geneva, sans-serif;

    /* box-sizing: border-box; */

    --headerColor: #91c2ff;
    --foregroundColor: #daebff;
    --backgroundColor: #f0f7ff;
    --accentColor: #ffa640;

}

body {
    margin: 0;
    background-color: var(--backgroundColor);
    size: 12px;
}

#titleHeader {
    text-align: center;

    background-color: var(--headerColor);
}

main {
    height: auto;
}

#quiz-header,
#quiz-footer {
    height: 4em;
    text-align: center;

    border: .25em solid var(--backgroundColor);
    border-radius: 1em;
    box-shadow: 0 .5em 2em -1em var(--accentColor);

    background-color: var(--foregroundColor);
}

#quiz-container {
    width: 75%;

    margin: auto;

    flex-flow: column wrap;
}

#quiz-content {
    height: 15em;
}

.button {
    font-size: 16px;
    font-family: inherit;

    padding: .2em 1em;
    border-radius: .5em;
    border: .2em solid var(--foregroundColor);

    background-color: var(--headerColor);
}

#startStopButton {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 1em auto;
}

.standard-margin-padding {
    width: 75%;
    margin: 1em auto;
    padding: 2em 0;

    border: .25em solid var(--backgroundColor);
    border-radius: 1em;
    box-shadow: 0 .5em 2em -1em var(--accentColor);
}